<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>18.0</Version>
<Cluster>
<Name>Acquisition and Logging Configuration</Name>
<NumElts>21</NumElts>
<I32>
<Name>Samples per Read</Name>
<Val>10000</Val>
</I32>
<I32>
<Name>Number of Reads to Save</Name>
<Val>30</Val>
</I32>
<String>
<Name>Data File Name 9222_9039</Name>
<Val>cRIO_Data_9222_9039</Val>
</String>
<Array>
<Name>TDMS Properties 9222</Name>
<Dimsize>8</Dimsize>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val>Company </Val>
</String>
<String>
<Name>Value</Name>
<Val>BEi</Val>
</String>
</Cluster>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val>Author</Val>
</String>
<String>
<Name>Value</Name>
<Val>Jairus Schwartz</Val>
</String>
</Cluster>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val>Operator</Val>
</String>
<String>
<Name>Value</Name>
<Val>Jairus Schwartz</Val>
</String>
</Cluster>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val>TestSystem</Val>
</String>
<String>
<Name>Value</Name>
<Val>MUCTA</Val>
</String>
</Cluster>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val>Site</Val>
</String>
<String>
<Name>Value</Name>
<Val>Test Area 2</Val>
</String>
</Cluster>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val></Val>
</String>
<String>
<Name>Value</Name>
<Val></Val>
</String>
</Cluster>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val></Val>
</String>
<String>
<Name>Value</Name>
<Val></Val>
</String>
</Cluster>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val></Val>
</String>
<String>
<Name>Value</Name>
<Val></Val>
</String>
</Cluster>
</Array>
<I32>
<Name>Number of Channels 9237</Name>
<Val>8</Val>
</I32>
<Array>
<Name>Channel Scale Array</Name>
<Dimsize>4</Dimsize>
<FXP>
<Name>Ch0 Scale</Name>
<WordLength>24</WordLength>
<IntegerLength>12</IntegerLength>
<Sign>Unsigned</Sign>
<Val>0x0000000000001000</Val>
<Minimum>0x0000000000000000</Minimum>
<Maximum>0x0000000000ffffff</Maximum>
<Delta>
<WordLength>24</WordLength>
<IntegerLength>12</IntegerLength>
<Val>0x0000000000ffffff</Val>
</Delta>
</FXP>
<FXP>
<Name>Ch0 Scale</Name>
<WordLength>24</WordLength>
<IntegerLength>12</IntegerLength>
<Sign>Unsigned</Sign>
<Val>0x0000000000001000</Val>
<Minimum>0x0000000000000000</Minimum>
<Maximum>0x0000000000ffffff</Maximum>
<Delta>
<WordLength>24</WordLength>
<IntegerLength>12</IntegerLength>
<Val>0x0000000000ffffff</Val>
</Delta>
</FXP>
<FXP>
<Name>Ch0 Scale</Name>
<WordLength>24</WordLength>
<IntegerLength>12</IntegerLength>
<Sign>Unsigned</Sign>
<Val>0x0000000000001000</Val>
<Minimum>0x0000000000000000</Minimum>
<Maximum>0x0000000000ffffff</Maximum>
<Delta>
<WordLength>24</WordLength>
<IntegerLength>12</IntegerLength>
<Val>0x0000000000ffffff</Val>
</Delta>
</FXP>
<FXP>
<Name>Ch0 Scale</Name>
<WordLength>24</WordLength>
<IntegerLength>12</IntegerLength>
<Sign>Unsigned</Sign>
<Val>0x0000000000001000</Val>
<Minimum>0x0000000000000000</Minimum>
<Maximum>0x0000000000ffffff</Maximum>
<Delta>
<WordLength>24</WordLength>
<IntegerLength>12</IntegerLength>
<Val>0x0000000000ffffff</Val>
</Delta>
</FXP>
</Array>
<Array>
<Name>Channel Names</Name>
<Dimsize>8</Dimsize>
<String>
<Name>String</Name>
<Val>Mod1/ai0</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod1/ai1</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod1/ai2</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod1/ai3</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod2/ai0</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod2/ai1</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod2/ai2</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod2/ai3</Val>
</String>
</Array>
<DBL>
<Name>Trigger - RMS Value</Name>
<Val>1.80000000000000</Val>
</DBL>
<I32>
<Name>Trigger - Channel</Name>
<Val>0</Val>
</I32>
<I32>
<Name>Trigger - Time (Minute)</Name>
<Val>30</Val>
</I32>
<U8>
<Name>Data Rate 9237</Name>
<Val>1</Val>
</U8>
<I32>
<Name>Number of Channels 9222_9039</Name>
<Val>4</Val>
</I32>
<I32>
<Name>Samples per Read 9222</Name>
<Val>10000</Val>
</I32>
<I32>
<Name>Data Rate 9222</Name>
<Val>10</Val>
</I32>
<Array>
<Name>Channel Names 9222_9039</Name>
<Dimsize>28</Dimsize>
<String>
<Name>String</Name>
<Val>Mod1/ai0/PP_0_10_F</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod1/ai1/PP_0_10_B</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod1/ai2/PP_0_20</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod1/ai3/PP_0_30</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod2/ai0/PP_0_50</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod2/ai1/PP_120_10_F</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod2/ai2/PP_120_10_B</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod2/ai3/PP_120_20</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod3/ai0/PP_120_30</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod3/ai1/PP_120_50</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod3/ai2/PP_240_10_F</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod3/ai3/PP_240_10_B</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod4/ai0/PP_240_20</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod4/ai1/PP_240_30</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod4/ai2/PP_240_50</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod4/ai3/ACCEL_</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod5/ai0/ACCEL_</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod5/ai1/ACCEL_</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod5/ai2/ACCEL_A</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod5/ai3/PP_A_1</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod6/ai0/PP_A_2</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod6/ai1/PP_A_3</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod6/ai2/PP_A_4</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod6/ai3/PP_A_5</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod7/ai0/PP_A_6</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod7/ai1/AX200</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod7/ai2/FAR_FIELD_CAM</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod7/ai3/SPECTRAL_ANALYZER</Val>
</String>
</Array>
<Array>
<Name>TDMS Properties 9237</Name>
<Dimsize>8</Dimsize>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val>J_Schwartz</Val>
</String>
<String>
<Name>Value</Name>
<Val>BEi</Val>
</String>
</Cluster>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val>Author</Val>
</String>
<String>
<Name>Value</Name>
<Val>[DeveloperName]</Val>
</String>
</Cluster>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val>Operator</Val>
</String>
<String>
<Name>Value</Name>
<Val>[OperatorName]</Val>
</String>
</Cluster>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val>TestSystem</Val>
</String>
<String>
<Name>Value</Name>
<Val>[SystemName]</Val>
</String>
</Cluster>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val>Site</Val>
</String>
<String>
<Name>Value</Name>
<Val>[Location]</Val>
</String>
</Cluster>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val>Line</Val>
</String>
<String>
<Name>Value</Name>
<Val>[Line]</Val>
</String>
</Cluster>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val>Machine</Val>
</String>
<String>
<Name>Value</Name>
<Val>[MachineName]</Val>
</String>
</Cluster>
<Cluster>
<Name>TDMS Properties</Name>
<NumElts>2</NumElts>
<String>
<Name>Name</Name>
<Val>Description</Val>
</String>
<String>
<Name>Value</Name>
<Val>[Description]</Val>
</String>
</Cluster>
</Array>
<String>
<Name>Data File Name 9237</Name>
<Val>cRIO_Data_9237</Val>
</String>
<U8>
<Name>Excitation Voltage</Name>
<Val>0</Val>
</U8>
<String>
<Name>Data File Name 9222_9049</Name>
<Val>cRIO_Data_9222_9049</Val>
</String>
<I32>
<Name>Number of Channels 9222_9049</Name>
<Val>28</Val>
</I32>
<Array>
<Name>Channel Names 9222_9049</Name>
<Dimsize>28</Dimsize>
<String>
<Name>String</Name>
<Val>Mod1/ai0/PP_0_10_F</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod1/ai1/PP_0_10_B</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod1/ai2/PP_0_20</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod1/ai3/PP_0_30</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod2/ai0/PP_0_50</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod2/ai1/PP_120_10_F</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod2/ai2/PP_120_10_B</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod2/ai3/PP_120_20</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod3/ai0/PP_120_30</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod3/ai1/PP_120_50</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod3/ai2/PP_240_10_F</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod3/ai3/PP_240_10_B</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod4/ai0/PP_240_20</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod4/ai1/PP_240_30</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod4/ai2/PP_240_50</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod4/ai3/ACCEL_</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod5/ai0/ACCEL_</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod5/ai1/ACCEL_</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod5/ai2/ACCEL_A</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod5/ai3/PP_A_1</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod6/ai0/PP_A_2</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod6/ai1/PP_A_3</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod6/ai2/PP_A_4</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod6/ai3/PP_A_5</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod7/ai0/PP_A_6</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod7/ai1/AX200</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod7/ai2/FAR_FIELD_CAM</Val>
</String>
<String>
<Name>String</Name>
<Val>Mod7/ai3/SPECTRAL_ANALYZER</Val>
</String>
</Array>
</Cluster>
</LVData>